* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 800px;
  margin: 0 auto;
}

table {
  margin: 0 auto;
  margin-top: 100px;
  border: 1px solid red;
  /* border-collapse: collapse; */
}

th,
td {
  border: 1px solid red;
}

.table-title {
  height: 100px;
  font-family: Engagement;
  text-align: center;
  text-transform: uppercase;
  border: none;
}

.img-box {
  display: flex;
  align-items: center;
}

img {
  height: 100px;
  padding: 1px;
}

.number {
  width: 5%;
  text-align: left;
}

.row-header {
  text-align: right;
  width: 30%;
  border-radius: 0 25px 0 25px;
  padding-right: 15px;
}

.value-field {
  width: 45%;
}

.value-cell {
  display: inline-block;
  border: 1px solid red;
}

.value-cell--italic {
  font-style: italic;
}

.textbox {
  padding-right: 5px;
  font-style: italic;
}

.value-cell--stretch {
  width: 100%;
}

li {
  display: inline-block;
}

li:after {
  content: ",";
}

li:last-child::after {
  content: none;
}

a {
  color: rgb(7, 7, 204);
}

.link-visited {
  color: rgb(123, 65, 177);
}

.selection-box {
  width: 100px;
}
