* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 800px;
  margin: 0 auto;
}

table {
  width: 100%;
  align: center;
  margin-top: 100px;
  /* table-layout: fixed; */
}

table,
th,
td {
  border: 1px solid red;
}

.main-header {
  height: 100px;
  font-family: Engagement;
  text-align: center;
  text-transform: uppercase;
  border: none;
}

img {
  /* max-width: 100%;
  max-height: 100%;
  display: block; */
  height: 100px;
  padding: 1px;
}

.list-number {
  width: 5%;
  text-align: left;
}

.table-header {
  text-align: right;
  width: 30%;
  border-radius: 0 25px 0 25px;
  padding-right: 15px;
}

.text-field {
  width: 45%;
}

.text {
  display: inline-block;
  border: 1px solid red;
}

.text--italic {
  font-style: italic;
}

.text--box {
  padding-right: 5px;
}

.textbox--stretch {
  width: 100%;
}

li {
  display: inline-block;
}

/* .text-link {
  border: none;
} */

li:after {
  content: ",";
}

li:last-child::after {
  content: none;
}

.selection-box {
  width: 100px;
}

a {
  color: rgb(7, 7, 204);
}

.link-visited {
  color: rgb(123, 65, 177);
}
